html {
  /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
  font-size: 10px;
}

body {
  /* fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora */
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oleo Script', cursive;
font-family: 'Work Sans', sans-serif;

  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 3.25rem;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: royalblue;
  padding: 10px;
  margin: 0;
  display: block;
  justify-content: center;
}

#img-caption {
  margin: 15px 0 5px 0;
  background-color: floralwhite;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 2.0rem;
  }
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}




blockquote {
  font-size: 1.3em;
  border: none;
  margin: 0;
  position: relative;
  background-color: ghostwhite;
}

#quote {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* unvisited link */
#tribute-link a:hover {
  color: red;
}

/* visited link */
#tribute-link a:visited {
  color: green;
}

/* mouse over link */
#tribute-page a:hover {
  color: hotpink;
}

/* selected link */
#tribute-link a:active {
  color: blue;
}